

.test{
    color: rgb(43, 106, 222);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.subtitle{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.photo{
}